@import "../../styles/elements/colors";

.product-container {
  position: relative;
  width: 220px;
  height: 220px;
  border: 1px solid $GREEN;
  border-radius: 50%;
  text-transform: uppercase;

  .price {
    position: absolute;
    width: 90px;
    height: 40px;
    background-color: $GREEN;
    top: 90%;
    color: white;
    border-radius: 100px;
  }

  .adapt-img {
    max-width: 220px;
    max-height: 140px;
    object-fit: cover;
  }

  .title {
    margin: 5px 0 10px;
  }
}
