@import "./colors";

.s-font-size {
  font-size: 20px;
}

.l-font-size {
  font-size: 35px;
}

.xl-font-size {
  font-size: 50px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.purple {
  color: $PURPLE;
}
